.wrapper {
  background-color: rgb(173, 72, 72);
  border-radius: 50px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  //   overflow: hidden;

  h2 {
    height: 10%;
  }

  & > div {
    height: 80%;
  }

  .highScore {
    margin: 5px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
  }
}
