* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(115, 166, 182);
}

.wrapper {
  background-color: white;
  // border: red solid 2px;
  width: 100vw;
  max-width: 700px;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  // text-align: center;

  .header {
    // border: blue solid 2px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }

  .navbar {
    // border: blue solid 2px;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.pokeball {
  width: 150px;
}
